body{
  background-color: #f0f3f4;
  color: #515a5a;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  margin: 30%, 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #424949;
  border-bottom: 1px solid #424949;
  background-color: rgba(0,0,0, 0.0)
}

.exp-header1 {
  text-align: center;
  font-size: 2em;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-weight: bold;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
